/*Todo en una esquina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Texto */
h3{
    font-family: 'Times New Roman';
    font-size: 18pt;
    letter-spacing: 1px;
    width: 100%;
    background: darkblue;
    padding: 15px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}

/*Centrar*/
#container{
    background: #5d6d7e;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Contenedor Formulario*/
#container form{
    background: #FFF;
    width: 460px;
    padding: 10px;
}
/*Centrar imagen*/
#container form img{
    margin: 15px auto;
    text-align: center;
    display: block;
}
/*Arreglar Texto del formulario*/
#container form input{
    width: 90%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center; 
}
/*Arrelgar boton submit*/
#container form input[type="submit"]{
    background: #5dade2;
    padding: 10px;
    color: #FFF;
    letter-spacing: 1px;
    border:0;
    cursor: pointer;

}
.alert{
    font-family: 'Times New Roman';
    font-size: 16px;
    text-align: center;
}