#container h1{
    font-size: 35px;
    display: inline-block;
}
.btn_new{
    display: inline-block;
    background: #239baa;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    margin: 20px;
}

table{
    border-collapse: collapse;
    font-size: 12pt;
    font-family: 'Arial';
    width: 100%;
}
table th{
    text-align: left;
    padding: 10px;
    background: #3d7ba8;
    color: #fff;
}
table tr:nth-child(odd){
    background: #fff;
}
table td{
    padding: 10px;
}
.link_edit{
    color:#0ca4cb;
}
.link_delete{
    color: #f26b6b;
}
